<ion-view class="mynotifications-view">

  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-ios-location">
    </button>
  </ion-nav-buttons>
  
  <ion-content class="padding">

    <div class="wb-title">MY NOTIFICATIONS</div>

    <section>
      <div class="section-label">CITY</div>
      <ui-select ng-model="selectedItem" theme="select2" class="color-positive" style="width: 100%; margin-bottom: 1em;"
                 search-enabled="false" title="CHOOSE A CITY">
        <ui-select-match placeholder="CHOOSE A CITY">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
          <span ng-bind="item.name"></span>
        </ui-select-choices>
      </ui-select>
    </section>

    <section>
      <div class="section-label">NOTIFICATIONS</div>

      <div class="notification" ng-repeat="noti in notifications track by $index">
        <div class="issued-datetime">
          <div class="date">{{noti.date}}</div>
          <div class="time">{{noti.time}}</div>
        </div>
        <div class="message">
          {{noti.message}}
        </div>
      </div>
    </section>


    <div style="height: 40px;"></div>

  </ion-content>

</ion-view>

