<ion-view class="placeorder-view">

  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-ios-location">
    </button>
  </ion-nav-buttons>

  <ion-content class="padding">

    <div class="wb-title">Akai Berry</div>

    <div class="card">
      <pre-img ratio="_3_2" helper-class="item item-image">
        <img ng-src="{{item.image}}" spinner-on-load>
      </pre-img>

      <div class="item item-body">
        <strong>{{item.title}}</strong>
        <div>{{item.desc}}</div>
        <p>{{item.text}}</p>
      </div>

      <div class="item row noborder prices">
        <div class="col"  style="text-align: left;">
          Small - $5
        </div>
        <div class="col" style="text-align: center;">
          Medium - $130
        </div>
        <div class="col" style="text-align: right;">
          Large - $300
        </div>
      </div>
    </div>

    <button class="button button-block button-calm" ui-sref="app.orderonline">
      PLACE ORDER
    </button>

    <div class="row">
      <div class="col col-33">
        SHARE ON
      </div>
      <div class="col">
        <hr/>
      </div>
    </div>


    <div class="row share">
      <div class="col"  style="text-align: left;">
        <i class="icon ion-social-twitter"></i>
        <span>205</span>
      </div>
      <div class="col" style="text-align: center;">
        <i class="icon ion-social-facebook"></i>
        <span>332</span>
      </div>
      <div class="col" style="text-align: right;">
        <i class="icon ion-social-pinterest"></i>
        <span>112</span>
      </div>
    </div>


    <div style="height: 40px;"></div>

  </ion-content>
</ion-view>
