<ion-view class="settings-view">
  <ion-content class="padding">

    <section>
      <div class="label">CITY</div>
      <ui-select ng-model="selectedItem" theme="select2" class="color-positive" style="width: 100%;"
                 search-enabled="false" title="CHOOSE A CITY">
        <ui-select-match placeholder="CHOOSE A CITY">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="item in (cities | filter: $select.search) track by item.id">
          <span ng-bind="item.name"></span>
        </ui-select-choices>
      </ui-select>
    </section>

    <section>
      <div class="label">E-MAIL</div>
      <input type="email" class="wb-input" value="shirish@redmattertech.com"/>
    </section>

    <section>
      <div class="label">PHONE NUMBER</div>
      <input type="tel" class="wb-input" value="+91 7799882908"/>
    </section>

    <section>
      <div class="label">ADDRESS</div>
      <textarea class="wb-input" rows="4">Flat no 221,</textarea>
    </section>

    <button class="button button-block button-balanced">
      CHANGE LOCATION
    </button>

    <div style="height: 20px;"></div>

  </ion-content>
</ion-view>
