.add-toppings-modal-view {

  .wb-content {
    @include display(flex);
    @include flex-direction(column);
  }

  .summary-area {
    padding: 0 10px;
    line-height: 2.5em;
    font-size: 1.3em;
    border-bottom: 2px solid $energized;

    .title {
      font-size: 1.4em;
    }
    .type {

    }
    .total-label {
      float: left;
    }
    .total-price {
      float: right;
    }
  }

  .select-area {
    padding: 10px 0;
    @include flex(1);
    overflow-y: scroll;
  }

  .toppings-list {
    line-height: 36px;
    padding: 0 10px;
    font-family: "bauhaus-normal";

    .row {
      padding: 0;
    }
    .col {
      padding: 7px 0;
    }

    .action-add {
      margin: 0;
    }
  }
}

