.about-view {

  ion-slide {
    overflow: scroll;
  }

  .wb-tabs-content p {
    font-family: "bauhaus-normal";
    font-size: large;
    margin-bottom: 20px;
  }

  .yogurtbay-logo {
    height: 25%;
    background-image: url(../img/yogurtbay.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 1em;
    margin-bottom: 2em;
  }

}

