.myaccount-view {

  .wb-card {
    background-color: $positive;
    border-radius: 1em;
    color: $energized !important;
    padding: 1em 15px !important;
  }

  .order {
    position: relative;
    margin-bottom: 1.5em;

    .label {
      font-family: "bauhaus-normal";
      color: $calm;
    }
    .numeric {
      color: #fff;
    }
    .string {
      font-family: "bauhaus-normal";
      color: #fff;
    }

    .date {
      position: absolute;
      top: 1em;
      right: 15px;
    }

    .total {
      position: absolute;
      right: 1em;
      bottom: calc(5px + 1em);
    }
  }

  .notification {
    margin-bottom: 1.5em;

    .issued-datetime {
      height: 1.7em;
      padding-left: 15px;
      padding-right: 10px;

      .date {
        float: left;
      }
      .time {
        float: right;
        color: $energized;
      }
    }
  }

}
