.placeorder-view {

  .prices {
    font-size: 14px;
  }

  .share .col {

    .icon {
      width: 35px;
      line-height: 35px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      text-align: center;
      display: inline-block;
      background-color: $energized;
      color: $positive;
      margin-right: 5px;
    }

    span {
      text-align: center;
      display: inline-block;
      width: 30px;
      background-color: #fff;
      color: #000;
      font-size: 0.8em;
    }
  }
}
